Queridos socios,

<p>
  Recientemente se ha aprobado una nueva campetición oficial: <%= @competition.name %>. En <%= link_to "la página de la WCA", @competition.website %> encontraréis toda la información importante para registrarse cuanto antes. Si tenéis alguna duda, desde la página podréis poneros en contacto con los organizadores por correo.
</p>

<p>
  ¡Esperamos veros por allí!
</p>

<p>
  Estáis recibiendo esta notificación porque así lo seleccionasteis en vuestro perfil. Para dejar de recibir notificaciones como esta, podéis desmarcar la casilla en <%= link_to "vuestro perfil", profile_url %>.
</p>

Asociación Española de Speedcubing
