Queridos socios,

<p>
  Recientemente se ha aprobado un nuevo campeonato oficial: <%= @competition.name %>. En <%= link_to "la página de la WCA", @competition.website %> encontrarás toda la información importante para registrarte cuanto antes. Si tienes alguna duda, desde la página podrás ponerte en contacto con los organizadores por correo.
</p>

<p>
  ¡Esperamos verte por allí!
</p>

<p>
Estáis recibiendo esta notificación porque así lo seleccionasteis en vuestro perfil. Para dejar de recibir notificaciones como esta, podéis desmarcar la casilla en <%= link_to "vuestro perfil", profile_url %>.
</p>

<br />
Asociación Española de Speedcubing
