<% provide(:title, "Campeonato de España") %>
<% provide(:active_section, "speedcubing") %>

<%= render "shared/nav_competitions", current_page: :sc, title: "Campeonato de España" do %>

  <h3 id="Edición-2019">Edición de 2019</h3>
  <p>La edición de 2019 del Campeonato de España de Speedcubing se celebró en Albacete.</p>

  <h3 id="pasadas-ediciones">Pasadas ediciones</h3>
  <p>Para obtener información sobre pasadas ediciones, dirígete a <a href="/speedcubing/sc_historical/">esta página</a>.</p>

<% end %>
