<% provide(:title, "Histórico de Campeonatos de España") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_competitions", current_page: :sc, title: "Histórico de Campeonatos de España" do %>

  <h3 id="Edición-2019">Edición de 2019</h3>
  <p>La edición de 2019 del Campeonato de España de Speedcubing se celebró en Albacete.</p>

<% end %>
